# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Environments
.env
.env.local
.env.development
.env.production
.env.test

# Vercel
.vercel/

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Cache
.cache/
